<div class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">   
    <!-- MOSTRAR EL TITULO --> 
    <h1 class="decoration-sky-500 underline text-center dark:text-white"> {{title}} </h1>

    <hr class="my-4 border-t-2 border-gray-50">

    <!-- COMPONENTE PADRE E HIJO -->

    <div class="dark:text-white">
        <app-padre-component/>
    </div>

    <hr class="my-4 border-t-2 border-gray-50">

    <!-- BOTONES -->

    <div>
        <app-mostrar-msg/>
    </div>

    <hr class="my-4 border-t-2 border-gray-50 ">

    <!-- REPLICADOR DE TEXTO -->
    <div class="dark:text-white">
        <app-replicador/>
    </div>

    <hr class="my-4 border-t-2 border-gray-50 ">

    <!-- CONDICIONALES IF ELSE -->
    <div class="dark:text-white">
        <app-condicionales-if-else/>
    </div>

    <hr class="my-4 border-t-2 border-gray-50 ">

    <!-- LOCAL REFERENCE -->
    <div class="dark:text-white">
        <app-local-reference/>
    </div>

    <hr class="my-4 border-t-2 border-gray-50 ">

    <!-- BLUCLES FOR -->
    <div class="dark:text-white">
        <app-bucle-for/>
    </div>
    <hr class="my-4 border-t-2 border-gray-50 ">

    <!-- View Child -->
    <div class="dark:text-white">
        <app-view-child/>
    </div>
    <hr class="my-4 border-t-2 border-gray-50 ">

    <!-- Listo de usuarios -->
    <div class="dark:text-white">
        <app-lista-usuarios/>
    </div>
</div>
